// Super Editor
.ContentEditable__root {
  // Scroll past last line
  @media screen and (min-width: 768px) {
    padding-bottom: 46vh !important;
  }

  // Headings
  .Lexical__h1,
  .Lexical__h2,
  .Lexical__h3 {
    &:not(:first-child) {
      margin-top: 0.5em;
    }

    margin-bottom: 0.1em;
  }

  // Paragraphs
  .Lexical__paragraph {
    margin-bottom: 0.5em;
  }

  // Lists
  .Lexical__ul,
  .Lexical__ol1,
  .Lexical__ol2,
  .Lexical__ol3,
  .Lexical__ol4,
  .Lexical__ol5 {
    line-height: 170%;
    margin-bottom: 0.5em;
  }

  .Lexical__nestedListItem {

    .Lexical__ul,
    .Lexical__ol1,
    .Lexical__ol2,
    .Lexical__ol3,
    .Lexical__ol4,
    .Lexical__ol5 {
      margin-bottom: 0;
    }
  }

  // Checklists
  .Lexical__listItemChecked,
  .Lexical__listItemUnchecked {
    margin-left: 0;
    margin-right: 0;
  }

  // Blocks
  .Lexical__embedBlock,
  .Lexical__quote,
  .Lexical__code,
  .Collapsible__container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  // Quote
  .Lexical__quote {
    margin-left: 0;
  }

  // Collapsible
  .Collapsible__container {
    border-radius: 0;
    padding-top: 3px;

    .Collapsible__title::before {
      left: 10px;
    }

    .Collapsible__title,
    .Collapsible__content {
      padding-left: 30px;
    }
  }

  // Code
  .Lexical__code {
    font-family: var(--sn-stylekit-code-font);
  }

  // Strikethrough
  .Lexical__textStrikethrough {
    color: gray;
  }

  // Highlight
  mark {
    background-color: rgba(249, 217, 99, .55);
  }
  
}
